html
  head
    link( href="https://fonts.googleapis.com/css?family=Fredoka+One|Montserrat" rel="stylesheet")

    link(rel='stylesheet' href='style.css')

    title Ahmed osama - Front-end developer
  body
    main.container#app
      section.person
        .person__img(v-if="showView")
          img(v-bind:src='img')
        .person__img(v-else)
          img(v-bind:src='img2')
        h1.person__name
          | {{name}}
        h2.person__job {{jobTitle}}
        .btn-holder.btn-holder--left
          a.btn(href="#" ) Downolad 1.0
          a.btn(href="#") Demos
      section
        h3.section-title playing With classes
        .box(v-for="n in counter",  :style="style") {{n}}
      
      
        
      section.fixedFooter
        .col-third
          input(type='color' v-model="bgColor")
          |{{bgColor}}
          input(type='range' v-model="demintion" min="0" max="100")
          |{{demintion}}
          input(type="checkbox" v-model="showView")

        .col-third
          a.btn(href="#" @click.prevent='count') +
          a.btn(href="#" @click.prevent='discount') -
        .col-third
          h6 counter
          h2 {{counter}} : {{counter > 10? "grater than 10 ": "less than ten"}}
      
    script(src="//localhost:9111/livereload.js")
    script(src="vue.js")
    script(src="app.js")