$bodyFont:'Montserrat', sans-serif;
$titleFont: 'Fredoka One', cursive;
$dark:#333333;
$wh:#fff;
@import '_normalize.scss';
*{
	box-sizing: border-box;
}
body{
	padding:80px 0;
	padding-top: 110px;
	background: #35495e; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #35495e , #41b883); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #35495e , #41b883); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color:$dark;
    font-family: $bodyFont;
	line-height: 1.5em;   
}
ul{
	list-style-type: none;
	padding:0;
	
}

.container{
	max-width:800px;
	background: $wh;
	box-shadow:0 10px 25px rgba(0,0,0,0.3);
	margin:0 auto;
	border-radius:30px;
	padding:0 3em;
	padding-left:300px;
}
section{
	margin:0 -3em;
	padding:3em;
	border-left:1px solid #dfdfdf;
	&+&{
		border-top:1px solid #dfdfdf;
	}
}
.section-title{
	margin-bottom:2.5em;
}
h1,h2,h3,h4,h5,h6{
	font-family:$titleFont;
	font-weight: 300;
	color:#131313;
}
strong{
	font-weight: 700;
}
a{
	color:lighten($dark, 10%);
	&:hover{
		color:blue;
	}
}

.person{
	&__img{
		position: fixed;
		border-radius:50%;
		margin:auto;
		margin-top: 0;
		width: 170px;
		height: 170px;
		margin-left: -260px;
	}
	&__name {
		font-size: 3em;
	}
	&__details{
		text-align: left;
	}
	&__job{
		margin-bottom: 0;
	}

}
.info{
	&__detailItem{
		strong{
			display: inline-block;
			min-width:100px;
			overflow: hidden;
			margin-right: 10px;
			vertical-align: middle;
			&:after{
				content:":";
				float: right;
			}
		}
	}
}

.mainSkill{
	margin-bottom: 1em;
	&__item{
		display: inline-block;
		padding:15px 20px;
		text-align: center;
		font-size: 1em;
		font-weight: bold;
		border-radius:10px;
		background: rgba(0,0,0,0.1);
		
	}
}

.skills{
	&__item{
		display: inline-block;
		padding:10px 15px;
		border-radius:10px;
		background: rgba(0,0,0,0.1);
		margin:5px 2px;
	}
}
.col-half{
	width: 50%;
	float:left;

}
.clear{
	display: table;
	clear: both;
}
.company{
	&__title{
		font-size: 1.2em;
		a{
			text-decoration: none;
			color:inherit;
		}
	}
	&__duration{
		font-size: 0.9em;
		margin-bottom: 1em;
		display: block;
		strong{
			margin-right: 5px;
			&:last-child{
				margin-left: 5px;
			}
		}	
	}
}

.projects{
	padding-left:20px;
	border-left:2px solid;
	margin-bottom: 3em;
	&__item{
		margin-bottom: 1em;
		position: relative;
		&:before{
			content:"";
			display: block;
			height: 2px;
			width: 15px;
			position:absolute;
			left: -20px;
			top: 10px;
			background: $dark;
		}
	}
	&__title{
		text-transform: uppercase;
	}
	&__url{
		font-size: 0.8em;
		color:lighten($dark,20%);
	}
}


/*--------------------*/

img{
	transition:0.2s;
	&.toggle{
		transform:rotate(180deg);
	}
}

.btn-holder{
	text-align: center;
	&--left{
		text-align:left;
	}
}
.btn{
	background: #41b883;
	color:$wh;
	padding:10px 15px;
	display:inline-block;
	min-width: 100px;
	text-align: center;
	margin:15px auto;
	white-space:nowrap;
	text-decoration: none;
	&:hover{
		color:$wh;
		background: darken(#41b883, 10%);
	}
	& + &{
		margin-left: 10px;
	}
}