$bodyFont:'Montserrat', sans-serif;
$titleFont: 'Fredoka One', cursive;
$dark:#333333;
$wh:#fff;
$orange:#FF9100;
$red:#FF3D00;
$green:#5bbb0a;
$blue:#35495e;
$gry:#333;
@import '_normalize.scss';

body{
	background:url(../img/gamebg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	position: relative;
	height: 100vh;
	width: 100vw;
	&:before, &:after{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background: #2c3e50; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #2c3e50 , #3498db); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #2c3e50 , #3498db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		opacity: 0.3; 
	}
	&:after{
		background: #000;
		opacity: 0.75;
		z-index: 1;
	}
}
.btn{
	font-family: $titleFont;
	font-size: 1em;
	line-height: 3em;
	padding:0 1.5em;
	background: $orange;
	color:$gry;
	display: inline-block;
	cursor: pointer;
	&:hover{
		color:$wh;
		background: darken($orange,10%);
	}
	&--green{
		background: $green;
		color:$wh;
		&:hover{
			color:$wh;
			background: darken($green,10%);
		}
	}
	&+&{
		margin-left: 15px;
	}
}
@keyframes loading{
	0%{
		background-size: 100px 100px;
	}
	100%{
		opacity: 0.7;
		background-size: 500px 500px;
	}
}
.loading{
	position: fixed;
	background:#04080d;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url(../img/monster.png);
	background-size: 100px 100px;
	z-index: 100;
	transition:0.5s;
	top: 0;
	right: 0;
	animation: loading  1s;
	animation-fill-mode: forwards;
	&--gone{
		opacity: 0.9;
		visibility: hidden;
	}
}
.sound-btn, .copyrights{
	position: fixed;
	left: 10vh;
	bottom: 30px;
	opacity: 0.5;
	color:$wh;
	z-index: 3;
	cursor: pointer;
	text-shadow:0 0 3px $wh;
	&:hover{
		text-shadow:0 0 13px $wh;
		opacity: 1;
	}
}
.copyrights{
	font-size: 11px;
	text-shadow: none;
	bottom:15px;
}
.monster{
	position: fixed;
	height: 50vh;
	text-align: center;
	width:50vw;
	z-index: 4;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;

	img{
		transition:0.3s;
		max-height: 100%;
		max-width: 100%;
		filter:drop-shadow(8px 8px 23px rgba(39, 74, 134, 0.6));
		-webkit-filter:drop-shadow(8px 8px 23px rgba(39, 74, 134, 0.6));
		&:hover{
			transform:scale(0.8);
		}
	}
}

.gameHead{
	position: fixed;
	top: 10vh;
	padding:0 10vh;
	z-index: 2;
	width: 100vw;
}
.hp{
	width:30%;
	float:left;
	

	&__title{
		color:$wh;
		font-size: 1em;
		margin-bottom: 0.5em;
		&:empty:after{
			content:"";
			display:block;
			width: 100px;
			height: 1em;
			background: rgba(255,255,255,0.2);
			border-radius:2px;
		}
	}
	&__meter{
		height: 30px;
		font-size: 2px;
		background: rgba(0,0,0,0.5);
		box-shadow:0 0 15px rgba(0,0,0,0.5);
		position: relative;
		display: block;
		overflow: hidden;
		border-radius:5px;
		svg{
			width: 1em;
			height: 1em;
		}
	}
	&__pool{
		position:absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
		background: $red;
		opacity: 0.85;
		transition:0.3s ease-in-out;

	}
	&--monster{
		float: right;
		text-align: right;
		.hp__pool{
			background: $green;
			right: 0;
			left: auto;
		}
	}
}


.skillBar{
	text-align: center;
	position: fixed;
	z-index: 2;
	bottom:50px;
	width: 100%;
}



.skillbtn{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius:50%;
	background:#fff;
	font-size: 2.5em;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition:0.2s;
	&:hover{
		transform:scale(1.2);
	}
	svg{
		display: inline-block;
		width: 0.7em;
		height: 0.7em;
		vertical-align: middle;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin:auto;
		opacity: 0.8;

	}

	&--hit{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffaf4b+0,f96d09+100 */
		background: $orange; 

	}

	&--heal{
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc400+0,5a9600+100 */
		background: $green; 
	}
	&--special{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
		background: $red; 
	}
	& + & {
		margin-left: 20px;
	}
}

.gamelog{
	border-radius:20px;
	background: rgba(0,0,0,0.7);
	box-shadow:0 0 50px rgba(0,0,0,0.5);
	width: 25vw;
	min-width:200px;
	height: 30vh;
	min-height:200px;
	overflow: hidden;
	position: fixed;
	left: 10vh;
	bottom: 10vh;
	z-index: 5;
	opacity: 0.5;
	transition:0.2s;
	padding: 30px;
	&:hover{
		opacity:1;
		overflow-y:scroll;
	}
	&__item{
		color:$red;
		&.player{
			color:$green;
		}
	}
}



//Modal
@keyframes modalIn{
	0%{
		opacity: 0;
		transform:translateY(150%) translateX(-50%);
	}
	100%{
		opacity: 1;
		transform:translateY(-50%) translateX(-50%);
	}

}
.modal{
	
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	top: 0;
	left: 0;
	min-width: 400px;
	z-index: 10;
	box-shadow:0 0 100px rgba(0,0,0,1);
	text-align: center;
	transition:0.2s;

	&--gone{
		opacity:0;
		.modal__container{
			transform:scale(0.4);
			top: 0;
			left: 0;
		}
	}
	&__header{
		padding:2em;
		border-bottom: 1px solid #dfdfdf;
	}
	&__title{
		
	}
	&__close{

	}
	&__body{
		padding:2em;
	}
	&__username{
		font-size: 1.5em;
		line-height: 3em;
		padding:0 2em;
		color:$gry;
		border: none;
		border-bottom: 2px solid $gry;
		display: block;
		text-align: center;
		width: 100%;
		& + small{
			display: block;
			margin-top: 0.5em;
			color:lighten($gry,10%);
			text-align: left;
		}
	}
	&__footer{
		padding:2em;
		border-top: 1px solid #dfdfdf;
		//display: flex;
	}
	&__container{
		position: fixed;
		z-index: 1;
		top: 50%;left: 50%;
		
		margin:auto;
		max-width: 500px;
		background:$wh;
		border-radius:0.5em;
		transition:0.2s;
		overflow: hidden;
		opacity: 0;
		transform:translateY(150%) translateX(-50%);
		animation: modalIn  0.3s;
	 	animation-fill-mode: forwards;
	}
	&__closer{
		
	}
 }



